<nav class="navbar navbar-expand-lg bg-success bg-light">
  <div class="container-fluid d-flex justify-content-between me-3">
    <div>CompanyCrm</div>
    <div class="nav-item dropdown">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        user Email
      </button>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>
