<form
  [formGroup]="customerForm"
  (ngSubmit)="onSubmit()"
  class="row g-3 align-items-center d-flex justify-content-between m-3"
>
  <div class="col-auto">
    <input
      class="form-control"
      type="text"
      formControlName="first_name"
      placeholder="First Name"
      aria-label="first name"
    />
  </div>
  <div class="col-auto">
    <input
      class="form-control"
      type="text"
      formControlName="last_name"
      placeholder="Last Name"
      aria-label="last name"
    />
  </div>
  <div class="col-auto">
    <input
      class="form-control"
      type="text"
      formControlName="phone"
      placeholder="Phone"
      aria-label="Phone"
    />
  </div>
  <div class="col-auto">
    <input
      class="form-control"
      type="email"
      formControlName="email"
      placeholder="Email"
      aria-label="Email"
    />
  </div>
  <button
    [disabled]="!customerForm.valid"
    type="submit"
    class="btn btn-primary col-auto"
  >
    <i class="bi bi-plus-circle me-1"></i>Add Customer
  </button>
</form>

<table class="table table-bordered border-dark">
  <thead class="table-light">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody *ngFor="let customer of customers; let i = index">
    <tr>
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ customer.first_name }}</td>
      <td>{{ customer.last_name }}</td>
      <td>{{ customer.phone }}</td>
      <td class="d-flex justify-content-between">
        {{ customer.email }}
        <div>
          <!-- delCustomer(customer.id) -->
          <button (click)="showNotification = true; delId = customer.id">
            <i class="bi bi-trash m-2"></i>
          </button>
          <button><i class="bi bi-pencil-square m-2"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<app-notification
  *ngIf="showNotification"
  (buttonClicked)="notificationRespon($event)"
  [headerLabel]="'Delete'"
>
  Are you sure you want to delete this data from DB?
</app-notification>
