<app-add-customer (buttonClicked)="refresh($event)"></app-add-customer>
<form
  [formGroup]="customerForm"
  action="update"
  [ngModel]
  (ngSubmit)="onSubmit()"
>
  <table class="table table-bordered border-dark">
    <thead class="table-light">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody *ngFor="let customer of customers; let i = index">
      <th>{{ i + 1 }}</th>

      <td>
        <input
          type="text"
          class="form-control-plaintext t1{{ customer.id }}"
          id="first_name"
          [value]="customer.first_name"
          formControlName="first_name"
          placeholder="{{ customer.first_name }}"
          [readonly]="!isEditingRow(customer.id)"
        />
      </td>
      <td>
        <input
          type="text"
          class="form-control-plaintext t2{{ customer.id }}"
          id="last_name"
          formControlName="last_name"
          placeholder="{{ customer.last_name }}"
          [readonly]="!isEditingRow(customer.id)"
        />
      </td>
      <td>
        <input
          type="text"
          class="form-control-plaintext t3{{ customer.id }}"
          id="phone"
          formControlName="phone"
          placeholder="{{ customer.phone }}"
          [readonly]="!isEditingRow(customer.id)"
        />
      </td>
      <td>
        <input
          type="text"
          class="form-control-plaintext t4{{ customer.id }}"
          id="email"
          formControlName="email"
          placeholder="{{ customer.email }}"
          [readonly]="!isEditingRow(customer.id)"
        />
      </td>
      <td class="d-flex justify-content-center">
        <div>
          <button
            class="bi bi-trash m-1 btn"
            (click)="delId = customer.id; showNotification = true"
            *ngIf="!isEditingRow(customer.id) ? showEdit : !showEdit"
          ></button>
          <button
            *ngIf="!isEditingRow(customer.id) ? showEdit : !showEdit"
            class="bi bi-pencil-square m-1 row{{ i }} btn"
            (click)="editRow(customer.id)"
          ></button>
        </div>
        <div *ngIf="isEditingRow(customer.id) ? showEdit : !showEdit">
          <button type="submit" class="btn m-1">
            <!-- [disabled]="isValid" -->
            Edit
          </button>
        </div>
      </td>
    </tbody>
  </table>
</form>
<app-notification
  *ngIf="showNotification"
  (buttonClicked)="notificationRespon($event)"
  [headerLabel]="'Delete'"
>
  Are you sure you want to delete this data from DB?
</app-notification>
